/* Set the background color and font-family for the entire page */
body {
  background-color: #2b2b2b;
  font-family: 'Helvetica', sans-serif;
  color: #f7b35a;
  margin: 0;
  display: flex; /* Add flex display */
}

/* Apply dark theme styles to specific elements */
h1, h2, h3, h4, h5, h6 {
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #000000;
}

.content {
  padding: 20px;
  flex-grow: 1; /* Allow content to expand and fill remaining space */
}

/* Add more styles for other elements as needed */

/* Styles for the vertical lateral navbar */
.navbar {  
  width: 150px; /* Adjust the width as per your preference */
  height: 30vh; /* Set the navbar height to cover the full viewport height */
  display: flex;
  flex-direction: column;
  background-color: #333;
  padding: 20px;
  top: 0; /* Position the navbar on top of the page */
  left: 0; /* Position the navbar on the left side */
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin-bottom: 10px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  transition: background-color 0.3s, color 0.3s; /* Added color transition */
  flex-grow: 1.5;
  display: flex;
  align-items: center;
}

.navbar a:hover {
  background-color: #ffad32;
  border-radius: 5px;
  color: #000; /* Changed text color on hover */
}

.navbar a.active {
  background-color: #777;
}
