<!-- Contact.html -->
{% extends 'researcher/base.html' %}

{% block content %}
  <h1>Contact Me</h1>
  <p>Feel free to reach out to me through any of the following channels:</p>
  
  <ul>
    <li><strong>Email:</strong> clement[dot]castellon[at]gmail[dot]com</li>
    <li><strong>GitHub:</strong> <a href="https://github.com/Clemspace">github.com/Clemspace/</a></li>
    <li><strong>Fiverr:</strong> <a href="https://www.fiverr.com/your-fiverr-profile">fiverr.com/your-fiverr-profile</a></li>
    <li><strong>Discord:</strong> Clemspace#6526</li>
  </ul>
  
  <p>I'm excited to hear from you and discuss any opportunities or collaborations!</p>
{% endblock %}