<!-- Home.html -->
{% extends 'researcher/base.html' %}

{% block content %}
  <h1>Welcome to My Personal Research Website!</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tempor tortor vel orci feugiat sagittis.
    Sed fermentum nulla nec nisl ullamcorper, eget fringilla lectus congue. Vestibulum vitae diam eu arcu
    commodo rhoncus id a nisl. Suspendisse a dui elit. In rhoncus diam ac mauris rutrum eleifend. Ut nec
    justo nisl. Nulla facilisi. Aliquam sit amet enim placerat, rhoncus ex et, tincidunt lorem. Donec
    ullamcorper lobortis nulla a consectetur.
  </p>
  <p>
    Aenean finibus fringilla odio, non tempor ipsum lobortis eget. Proin varius, mi id euismod molestie,
    libero justo vulputate nunc, sed aliquet dui ex vel velit. Quisque dapibus mauris sit amet enim cursus
    dapibus. Curabitur eget malesuada nunc, sit amet accumsan felis. Aliquam scelerisque, turpis vel
    dignissim laoreet, arcu ligula sagittis felis, eget vulputate ipsum nulla sed sapien.
  </p>
{% endblock %}
